body {
    margin: 0;
    box-sizing: border-box;

}


/*NAVBAR*/

.text-nav {
    font-family: 'Lora', 'serif';
    color: #B53B30 ;  /*VER ACA POR QUE NO CAMBIA DE COLOR*/
}

.zoom {
transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.1);
}




/*HOME*/

.bg-image { 
    background-image: url(./images/medialunas.jpg);
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 01;
}

.text-banner { 
   font-family: 'Fraunces', 'serif';
   color: #B53B30;
   opacity: 1;
}

.button_slide {
    color: #FFF; 
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    cursor: pointer;
    
}

.button_slide a {
    text-decoration: none; 
    color: inherit; 
}

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #000000;
    transition: ease-out 1.5s;
  

}

.text-container-home {
    font-family: 'Fraunces', 'serif';
    color: #B53B30;
    font-size: 30px;
    font-weight: 600;
}
  
  
.scroll {
	width: 100%;
    box-sizing: border-box;
}


.contenedor img {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 5px;
	

	opacity: 0;
	transform: scale(0.9);
	transition: .8s ease-in-out all;
}

.contenedor img.izquierda {
	transform: translateX(-100px);
}

.contenedor img.derecha {
	transform: translateY(100px);
}

.contenedor img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

.contenedor p {
  font-family: 'Lora', 'serif';
  font-size: 1.7em;
  color: #B53B30;
  margin-left: 60px;
}


@media (max-width: 767px) {
    .contenedor {

    margin-bottom: 20px; 
    
    }

    .contenedor p {

        margin-top: 50px; 
        
        }
  
    .contenedor img .izquierda,
    .contenedor img .derecha {
      transform: none; /* Elimina las transformaciones en dispositivos móviles */
    }
}


.slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(250px * 14);
}
 
.slider .slide {
    width: 250px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}


/*QUIENES SOMOS*/

.productos {
    background-image: url(./images/croissants-gris.jpg);
    background-size: cover;
    height: 70vh;

}


/*PRODUCTOS*/

.quienessomos {
    background-image: url(./images/amasado.jpg);
    background-size: cover;
    height: 70vh;

}

.col .card-producto  {
    border: none;
    border-radius: 0;
}

.col .card-producto img {
    border-radius: 0;
    transition: transform .2s; 
}


.col .card-producto .card-title {
  font-family: 'Fraunces', 'serif';
}

.col .card-producto .card-text {
    font-family: 'Lora', 'serif';
}

.card-img-top {
    transition: transform .2s;
}

.card-img-top:hover {
    transform: scale(1.05);
}


/*CONTACTO*/

.color-fondo {
    background-color: #FFFCF5;
}
form {
    font-family: 'Lora', 'serif';
    color: white;
}

.contact {
    background-image: url(./images/atendiendo.jpeg);
    background-size: cover;
    height: 70vh;

}


/*LOCALES*/
.locales {
    background-image: url(./images/locales.jpeg);
    background-size: cover;
    height: 70vh;

}

.direcciones {
   box-shadow: 6px 7px 10px -5px rgba(0,0,0,0.58);
}

.titulo-direcciones {
    font-family: 'Fraunces','serif';
    font-size: 20px;
    margin-bottom: 5px;
    color: #B53B30;
}

.texto-direcciones {
    font-family: 'Lora','serif';
    margin-bottom: 5px;
}

.google-map {
    width: 100%;
}



/*FOOTER*/
.texto-footer {
    font-family: 'Lora', 'serif';
    font-weight: 100;
}


